<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
<style>
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F6C6C7;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 5;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

    body{
      background-size: cover;
      background-image: url("https://images.unsplash.com/photo-1604937455095-ef2fe3d46fcd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-repeat: no-repeat;  
    }

    #pussie{
      position: relative;
      left: 1775px;
      bottom: 435px;
      font-size: 20px;

    }

</style>

  <body >
    <div class="navbar-nav" id="pussie">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="{{ url_for('accounts.logout') }}">Log out</a>
      </div>
    </div>
    <div class="container">

<div class="text-center">
<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('accounts.do_login') }}" method="POST">
    {{ form.hidden_tag() }}
    <img class="mb-4" src="https://scontent.fbkk13-2.fna.fbcdn.net/v/t39.30808-6/297059387_1427688704417652_7371951741372200293_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFC7iJlgfCxNsUyxL5S_4f-C91swroo9mIL3WzCuij2YiogFPfxjToodhmAcSGqgy1dEajjlqHMpkaEbwnkMumZ&_nc_ohc=ZTftmLxlpz0AX_PcqD7&_nc_zt=23&_nc_ht=scontent.fbkk13-2.fna&oh=00_AfChFANAeFuvsCCBcPVa4e4eGiwr054kmIRn8KN7GRDt4w&oe=63EAC07C" alt="" width="150">
    <h1 class="h3 mb-3 fw-normal">LOGIN</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> จดจำรหัสผ่าน
      </label>
    </div>
    <button class="w-100 btn btn-lg "style="background-color: #A8D1E7;" type="submit">เข้าสู่ระบบ</button>
  </form>
  
  {% if request.args | length > 0 %}
    <div  class="alert alert-danger" role="alert" style="margin-top: 10px;">
      <ul>
      {% for k, v in request.args.items() %}
        <li><b>{{ k }}: </b> {{ v }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

</main>
</div>

    </div>
  </body>
</html>
