<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <link rel="stylesheet" herf="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
  <style>
    body{
      background-size: cover;
      background-image: url("https://images.unsplash.com/photo-1604937455095-ef2fe3d46fcd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-repeat: no-repeat;  
    }
    .heretoo {
      position: relative;
      align-items: center;
      text-align: center;
      justify-content: center;
      margin-top: 350px;
      font-size:60px;
      font-weight: 1 ;

    }
  </style>
  <body >
    
    <nav class="navbar navbar-expand-lg" style="background-color: #F6C6C7">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ONLYPORT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contact
            </a>
            <ul class="dropdown-menu">
              <a>--ช่องทางติดต่อ--</a>
              <li><a class="dropdown-item" href="https://web.facebook.com/pavananon.phanich.3">Facebook</a></li>
              <li><a class="dropdown-item" href="https://www.instagram.com/pvn.ig/">Instargram</a></li>
              <li><p>Email : 6510110269@gmail.com </p></li>
              <li><p>line : 0630780744 </p></li>
            </ul>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            เข้าสู่ระบบ
          </a>
          <ul class="dropdown-menu">
            <a>--เลือกวิธีเข้าสู่ระบบ--</a>
            <li><a class="dropdown-item" href="{{ url_for('accounts.register') }}">Register</a></li>
            <li><a class="dropdown-item" href="{{ url_for('accounts.login') }}">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1 class="heretoo">ONLYPORT</h1>
  </body>